[Desktop Entry]
_Name=UBsync
Exec=qmlscene %U Owncloud-Sync/Main.qml
Icon=Owncloud-Sync/UBsync.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true

